---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Unsere Tanzgruppen">

<section class="page-hero">

    <div class="page-hero-content">

        <h1>Unsere Tanzgruppen</h1>

        <p>
            Für jedes Alter und jede Leidenschaft die passende Gruppe.
        </p>

    </div>

</section>

<section class="teams">

    <a class="team-card" href="/forster-maennerballett">

        <img src="/maennerballett.jpg" alt="Forster Männerballett">

        <div class="team-info">

            <h2>Forster Männerballett</h2>

            <p>
                Showtanz, Comedy und spektakuläre Bühnenauftritte.
            </p>

        </div>

    </a>

    <a class="team-card" href="/raw-diamonds">

        <img src="/public/logos/raw-diamonds-header.jpg" alt="Raw Diamonds">

        <div class="team-info">

              Seit 1998 begeistert Raw Diamonds das Publikum mit modernen
    Showtänzen. Ursprünglich als Cheerleader-Gruppe gegründet,
    gehört die Formation heute zu den Showtanzgruppen der
    ADTV Tanzschule Fritsche in Cottbus.

        </div>

    </a>

    <a class="team-card" href="/blinky-pearls">

        <img src="blinkypearls.jpg" alt="Blinky Pearls">

        <div class="team-info">

         <h2>Blinky Pearls</h2>

         <div class="group-logo">
    <img
        src="/logos/blinkypearls.jpg"
        alt="Logo Blinky Pearls"
    />
</div>

<p>
    Die Blinky Pearls wurden 2006 gegründet und sind eine
    Showtanzgruppe der ADTV Tanzschule Fritsche in Cottbus.
    Mit kreativen Choreografien und viel Leidenschaft entstehen
    jedes Jahr neue Shows.
</p>

        </div>

    </a>

    <a class="team-card" href="/funkengarde">

        <img src="/funkengarde.jpg" alt="Funkengarde">

        <div class="team-info">

            <h2>Funkengarde</h2>

<p>
    Unsere Funkengarde befindet sich aktuell im Aufbau.
    Du möchtest von Anfang an dabei sein und gemeinsam mit
    uns etwas Neues entstehen lassen?
    Dann freuen wir uns auf dich!
</p>

        </div>

    </a>

</section>

</Layout>