---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Über uns">
  <section class="page-header">
    <h1>Über uns</h1>
    <p>Diese Seite befindet sich aktuell im Aufbau.</p>
  </section>
</Layout>