<section class="events">

    <div class="section-title">

        <h2>Unser nächstes Highlight</h2>

       <p class="event-text">
    Wir freuen uns auf euren Besuch.
</p>

    </div>

    <div class="event-poster-home">

        <a href="/termine">

            <img
                src="/events/summer-night-2026.jpg"
                alt="KCK Summer Night"
            />

        </a>

    </div>

    <div class="event-button">

        <a href="/termine" class="button">

            Alle Termine ansehen

        </a>

    </div>

</section>