<section class="gallery">

    <div class="section-title">
        <h2>Galerie</h2>
        <p>Erinnerungen an unsere schönsten Momente.</p>
    </div>

    <div class="gallery-grid">

        <div class="album-card">

            <img src="/meisterschaft2026.jpg" alt="Meisterschaft 2026">

            <div class="album-overlay">

                <span class="album-count">📸 28 Bilder</span>

                <h3>Ostdeutsche Meisterschaft 2026</h3>

            </div>

        </div>

        <div class="album-card">

            <img src="/session2027.jpg" alt="Session 2027">

            <div class="album-overlay">

                <span class="album-count">📸 42 Bilder</span>

                <h3>Karnevalssession 2027</h3>

            </div>

        </div>

        <div class="album-card">

            <img src="/sommerfest.jpg" alt="Sommerfest">

            <div class="album-overlay">

                <span class="album-count">📸 18 Bilder</span>

                <h3>Sommerfest</h3>

            </div>

        </div>

    </div>

</section>