---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

interface Props {
    images: ImageMetadata[];
}

const { images } = Astro.props;
---

<div class="gallery-grid">

    {images.map((image, index) => (

        <a
            href={image.src}
            class="lightbox"
            data-pswp-width={image.width}
            data-pswp-height={image.height}
        >

            <Image
                src={image}
                alt={`Bild ${index + 1}`}
                loading="lazy"
                class="gallery-image"
            />

        </a>

    ))}

</div>