<div class="hero-header">

    <img
        src="/logos/KCKLogoNeu.jpg"
        alt="Logo Karnevalsclub Forst-Keune"
        class="hero-logo"
    />

    <div class="hero-heading">

        <span class="subtitle">
            Herzlich Willkommen
        </span>

        <h1 class="hero-title">
            Karnevalsclub Forst-Keune
        </h1>

<h1 class="hero-title">
    Karnevalsclub<span class="mobile-break"><br></span> Forst-Keune
</h1>

    </div>

</div>